* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: antiquewhite;
  /* display: grid;
    place-content: center; */
  border: 3px solid black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_container {
  /* border: 2px solid purple; */
  width: 600px;
  display: flex;
  border-radius: 25px;
}
.imagen {
  /* width: auto; */
  border: none;
  height: 500px;
  aspect-ratio: 1/2;
  background-image: url("../IMAGES/image-product-desktop.jpg");
  background-size: cover;
  background-position: center; /*size ajusta tamaño imagen para cubrir todo el fondo. position centra el fondo en el centro*/
  border-radius: 25px 0 0 25px;
}
.descripcion_container {
  /* border: 1px solid red; */
  background-color: white;
}
.nombre {
  padding: 15px;
  text-align: left;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-family: sans-serif;
  line-height: 18px;
  /* border: 1px solid blue; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
}
.titulo {
  /* border: 1px solid cornflowerblue;  */
  font-size: 52px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  padding: 15px;
  line-height: 45px;
}
.subtitulo {
  /* border: 1px solid yellow; */
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 24px;
  text-align: left;
}
.precios {
  display: flex;
  justify-content: center;
}
.precio1 {
  /* border: 1px solid yellowgreen; */
  font-size: 50px;
  color: green;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.precio2 {
  /* border: 1px solid pink; */
  padding: 25px;
  text-decoration: line-through;
  color: grey;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn_pago {
  padding: 5px;
  border-radius: 8px;
  background-color: green;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}
