* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(19, 2, 39);
  display: grid;
  place-items: center;
  height: 100vh;
}
.card_container {
  display: flex;
  width: 1025px;
}
.contenido {
  display: flex;
  flex-direction: column;

  background-color: #27005d;
  color: white;

  border-radius: 12px 0px 0px 12px;
}
h1 {
  padding: 40px 40px 0px 40px;
  font-weight: bold;
  font-size: 40px;
}
span {
  color: #9400ff;
}
h2 {
  font-size: 20px;
  font-weight: 100;
  padding: 40px;
  color: grey;
}
.cajas {
  display: flex;
  justify-content: center;
}
.cajitas {
  padding: 40px;
  color: grey;
}
.numeros {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.imagen {
  border-radius: 0px 12px 12px 0px;
}
img {
  border-radius: 0px 12px 12px 0px;
  height: 100%;
}
